{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    We provide You a variety of Fashion
{% endblock %}

{% block title %}
    Search
{% endblock %}

{% block content %}
    <div>
        <p class="text-center my_search_text">Results For "{{query}}"</p>
    </div>
    <div class="container">
    <div class="row mx_auto">
        {% for i in products %}
        <div class="my_bottom_margin col-9 col-sm-12 col-md-4 col-lg-4">
        <div class="card text-center" style="min-width:18rem">
                <a href="{{i.get_url}}"><img class="card-img-top my_image_padding" src="{{i.img.url}}" alt="{{i.name}}" height="300" width="300"></a>
                <div class="card-body">
                    <h4>{{i.name}}</h4>
                    <p>{{i.price}}</p>

                </div>
            </div>
        </div>
            {% empty %}
        <div class="ma-auto">
            <p class="text-center my_search_text">No Results For "{{query}}"</p>
        </div>
        {% endfor %}
    </div>
    </div>
{% endblock %}
